<ion-header mode="md">
  <ion-icon routerLink="/tabs/tab1" name="arrow-back-outline"></ion-icon>
  <ion-toolbar>
    <img src="assets/images/bgorder.jpeg" alt="" />
  </ion-toolbar>
</ion-header>
<ion-header>
  <h1>Pedidos</h1>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/images/x-tudo.jpg" />
      <ion-card-header>
        <ion-card-title>X-Tudo Super</ion-card-title>
        <ion-card-subtitle>Lanches</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-checkbox checked="true">Hambúrguer </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Salada</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Tomate</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Maionese</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Bacon</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Queijo</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox checked="true">Calabresa</ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label>1</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-button
              >Adicionar <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
