ion-fab-button {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-right: 5px;
}

ion-badge {
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 100%;
}
