<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ion-text-center">Comidas</h1>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon
          *ngIf="showSearchBar"
          name="close"
          slot="icon-only"
        ></ion-icon>
        <ion-icon
          *ngIf="!showSearchBar"
          name="search"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button mode="ios">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" class="ion-padding-horizontal">
    <ion-segment mode="ios" value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="comidas">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    *ngIf="showSearchBar"
    class="ion-margin-top"
    animated="true"
    placeholder="Pesquisa"
  ></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanches</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          [routerLink]="'/order/' + item.id"
          *ngFor="let item of items; index as i"
          [lines]="i === items.length - 1 ? 'none' : 'normal'"
          detail="false"
        >
          <ion-thumbnail slot="start">
            <img *ngIf="item.img" [src]="item.img" />
          </ion-thumbnail>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Comidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Prato com parmegiana, arroz e batatas fritas"
              src="assets/images/parmegiana.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Parmegiana de Frango</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Prato com picanha, salada e arroz"
              src="assets/images/picanha.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Picanha</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Prato com purê de batata, arroz, feijão e filé de frango"
              src="assets/images/frango.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Filé de Frango</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img
              alt="Prato com arroz, costela de porco e molho barbecue"
              src="assets/images/costela.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Costela de Porco</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bebidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Garrafa de refrigerante de limão sprite"
              src="assets/images/sprite.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Sprite</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Garrafa de refrigerante de cola, coca-cola."
              src="assets/images/coca.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Coca-Cola</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Copo de suco de laranja com uma laranja no copo"
              src="assets/images/suco.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Suco</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Garrafa de água" src="assets/images/agua.jpeg" />
          </ion-thumbnail>
          <ion-label>Água</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobremesas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Bolinho petit gateau com uma bola de sorvete de chocolate em cima"
              src="assets/images/petit.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Petit Gateau</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Taça com bola de sorvete de chocolate"
              src="assets/images/sorvete.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Sorvete</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Prato com bananas e bolas de sorvete por cima"
              src="assets/images/banana.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Banana Split</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img
              alt="Brigadeiros com coberturas de cores diversas, chocolate, morango, maracujá e danone"
              src="assets/images/brigadeiro.jpeg"
            />
          </ion-thumbnail>
          <ion-label>Brigadeiro</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" routerLink="/cart">
  <ion-fab-button><ion-icon name="cart-outline"></ion-icon></ion-fab-button>
</ion-fab>
