<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-title>
      <h1 class="ion-text-center">Comidas</h1>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon
          *ngIf="showSearchBar"
          name="close"
          slot="icon-only"
        ></ion-icon>
        <ion-icon
          *ngIf="!showSearchBar"
          name="search"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button mode="ios">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary" class="ion-padding-horizontal">
    <ion-segment mode="ios" value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="comidas">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    *ngIf="showSearchBar"
    class="ion-margin-top"
    animated="true"
    placeholder="Pesquisa"
  ></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanches</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          [routerLink]="'/order/' + snack.id"
          *ngFor="let snack of foods.Lanches; index as i"
          detail="false"
        >
          <ion-thumbnail slot="start">
            <img *ngIf="snack.img" [src]="snack.img" />
          </ion-thumbnail>
          <ion-label>{{ snack.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Comidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          [routerLink]="'/order/' + comida.id"
          *ngFor="let comida of foods.Comidas; index as i"
          detail="false"
        >
          <ion-thumbnail slot="start">
            <img *ngIf="comida.img" [src]="comida.img" />
          </ion-thumbnail>
          <ion-label> {{ comida.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bebidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          [routerLink]="'/order/' + bebida.id"
          *ngFor="let bebida of foods.Bebidas"
          detail="false"
        >
          <ion-thumbnail slot="start">
            <img *ngIf="bebida.img" [src]="bebida.img" />
          </ion-thumbnail>
          <ion-label>{{ bebida.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobremesas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          [routerLink]="'/order/' + sobremesa.id"
          *ngFor="let sobremesa of foods.Sobremesas"
          detail="false"
        >
          <ion-thumbnail slot="start">
            <img *ngIf="sobremesa.img" [src]="sobremesa.img" />
          </ion-thumbnail>
          <ion-label> {{ sobremesa.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" routerLink="/cart">
  <ion-fab-button><ion-icon name="cart-outline"></ion-icon></ion-fab-button
  ><ion-badge>2</ion-badge>
</ion-fab>
